.nav{
opacity: 40%;
background-color: white;
padding-left: 80%;
width: 100%;
}
.general{
    background-image: url("https://i1.sndcdn.com/artworks-de63f147-33d9-4b1d-a39a-99dd41b8b83b-0-t500x500.jpg");
    height: 100%;
    width: 100%;
}
.now_playing{
    position: absolute;
    opacity: 50%;
    height: 20%;
    width: 100%;
}
.hora{
    font-size: 30px;
}
.imagen{
    position: relative;
    display: inline-block;
    text-align: center;
    height: 80%;
    width: 100%;
}
#caratula{
    height: 100%;
    width: 100%;
}
.nombre{
    position: relative;
    display: block;
    background-color:gray;
    height:20%;
    width: 100%;
    padding: 5%;
}
.title{
    font-size: 200%;
    
}
.artist{
    font-size: 200%;
}
.flotante{
    position: absolute;
    background-color: red;
    text-align:center;
    height: 3%;
    width: 3%;
    left: 86%;
    top: 65%;
    border-radius: 50%;
}